@font-face {
  font-family: Satoshi;
  src: url(fonts/Satoshi-Black.otf);
}

@font-face {
  font-family: Satoshi-Regular;
  src: url(fonts/Satoshi-Regular.otf);
}

body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  padding: 0;
  /*background-image: repeating-linear-gradient(90deg, #b0cae1, #b0cae1 10px, #fff4e4 10px, #fff4e4 20px);*/
  background-color: #b0cae1;
}

header {
  background-color: #4a6478;
  color: white;
  text-align: center;
  padding: 1em;
}

header p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
}

nav {
  background-color: #ffffff;
  padding: 1em;
  text-align: center;
}

label {
  margin: 1em;
}

fieldset {
  border: 2px solid #ccc;
  padding: 12px;
  background-color: #f9f9f9; 
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
}

legend {
  background-color: #b0cae1; 
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;  
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1em;
  padding: 1em;
}

#menu-box {
  background-color: #f5eee3;       
  border-radius: 12px;           
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);  
  padding: 2em;                   
  max-width: auto;              
  margin: 1em auto;         
}

#menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

#menu article {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1em;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#menu article img {
  width: 100%;
  border-radius: 6px;
}

article {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

article:hover {
  transform: scale(1.03);
}

article h3 {
  margin: 0.5em;
  color: #634306;
}

article p {
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 0.9em;
  margin: 0.5em;
}